.signin-form {
    padding-top: 100px;
    max-width: 350px;
}

.signin-form #email {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.signin-form #password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
